* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 320vh;
}


.App {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.test {
    margin-top: 200px;
    height: 500px;
    width: 800px;
    border: 3px solid white;
    border-radius: 12px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    justify-content: center;
}

.test h1 {
    font-size: 38px; 
    font-weight: bold; 
    background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input[type="text"] {
    padding: 17px; 
    border: 2px solid white;
    border-radius: 12px;
    color: white;
    margin-top: 50px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1); 
    width: 370px;
    box-sizing: border-box; 
    text-align: center;
    outline: none;
  }
  
  input[type="text"]::placeholder {
    color: white;
    font-size: 18px;
  }

.button-section{
    margin-top: 40px;
    display: flex;
    gap: 67px;
}

.button-section button{
    background: none;
    padding: 13px 40px;
    border: 2px white solid;
    border-radius: 12px;
    font-size: 18px;
    color: white;
}

button:hover{
    background-color: white;
    color: black;
}

.wait-text {
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    font-weight: bold;

}






/* Navbar */
.navbar-brand{
    color: white;
    text-decoration: none;
}


.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color:#0F1F2B;    ;


}

a {
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 40px;
    font-weight: 500;
}




img {
    width:110px;
    height:auto;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0F1F2B;    ;
}

.footer a {
        text-decoration: none;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin-left: 40px;
        font-weight: 300;
}

.footer p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.result {
    margin-top: 80px;
    border: 3px white solid;
    border-radius: 12px;
    width: 800px;
    height: auto; 
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  

.result h1{
    font-size: 38px; 
    font-weight: bold; 
    background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;

  }

.result img {
    width: 400px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.result pre {
    padding-bottom: 20px;
}



.result1 {
    margin-top: 80px;
    border: 3px white solid;
    border-radius: 12px;
    width: 800px;
    height: auto; 
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  

.result1 h1{
    font-size: 38px; /* Adjust size as needed */
    font-weight: bold; /* Adjust weight as needed */
    background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

    -webkit-background-clip: text; /* Apply gradient to text */
    background-clip: text;
    color: transparent; /* Hide original text color */
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;

  }

.result1 img {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 512px;
    height: 512px;
}

/* .result pre {
    padding-bottom: 20px;
} */ 